html, body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

nav {
    width: 100%;
    margin: auto;
    background-color: #5cb85c;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

ul {
    list-style: none;
    padding: 1rem;
}

li#logo {
    font-size: 2rem;
    color: #f8f8f8;
    flex: 3;
    text-align: right;
    font-weight: 500;
    letter-spacing: 1px;
    align-self: center;
}

li#cart {
    font-size: 2rem;
    color: #f8f8f8;
    flex: 2;
    text-align: right;
}

li#cart i {
    margin-right: 1rem;
}

#product_count {
    color: orangered;
    font-size: 0.6rem;
    background-color: #f8f8f8;
    border-radius: 50%;
    position: relative;
    left: -1.5rem;
    top: -1.4rem;
    padding: 3px 4px;
    font-weight: 500;
}

.content {
    display: flex;
    max-width: 960px;
    flex-direction: column;
    margin: 2% auto 0 auto;
    flex: 5;
}

#search {
    width: 100%;
    text-align: center;
    flex: 3;
}

input {
    width: 60%;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.7%;
    border-radius: 5px;
    outline: none;
    border: 2px solid #777;
    opacity: .8;
}

.products {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 6%;
}

img {
    width: 150px;
    height: 100px;
    border: 2px solid #777;
}

.product {
    padding: 1rem 3rem;
}

.product-title {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.product-price {
    text-align: center;
    color: #f0ad4e;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.product-price span {
    display: block;
    font-size: 12px;
    margin-bottom: -10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons a {
    margin-top: 2%;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.add-to-cart {
    background-color: #0275d8;
}

.add-to-cart:hover, .buy-now:hover  {
    opacity: .8;
    cursor: pointer;
}

.buy-now {
    background-color: #5cb85c;
}

hr {
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    border: 0;
    margin-top: 3rem;
}

footer {
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}

@media (max-width: 679px) {
    li#logo {
        font-size: 1.2rem;
    }

    #search {
        margin-top: 1rem;
    }

    input {
        font-size: 0.8rem;
    }
}
